@model List<MoreHealth.ViewModels.DoctorViewModel>

<div class="container">
@foreach (var doctor in @Model)
{
    <div class="row bg-secondary shadow p-3 mb-5 bg-white rounded m-2 d-flex justify-content-center">
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h2">@doctor.FullName</div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Кабинет:</div>
            @if (@doctor.Cabinet != null)
            {
                <p class="text-secondary">@doctor.Cabinet.CabinetNumber</p>
            }
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Отделение:</div>
            @if (@doctor.Specialization !=null)
            {
                <p class="text-secondary">@doctor.Specialization.Department.DepartmentName</p>
            }
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Специальность:</div>
            @if (doctor.Specialization != null)
            {
                <p class="text-secondary">@doctor.Specialization.SpecializationName</p>
            }
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Время работы в чётные дни:</div>
            @if (!string.IsNullOrEmpty(@doctor.StartWorkTimeEvenDay.ToString("t")))
            {
                <p class="text-secondary">@doctor.StartWorkTimeEvenDay.ToString("t") - @doctor.EndWorkTimeEvenDay.ToString("t")</p>
            }
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Время работы в нечётные дни:</div>
            @if (!string.IsNullOrEmpty(@doctor.StartWorkTimeOddDay.ToString("t")))
            {
                <p class="text-secondary">@doctor.StartWorkTimeOddDay.ToString("t") - @doctor.EndWorkTimeOddDay.ToString("t")</p>
            }
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Выходные дни:</div>
            @if (!string.IsNullOrEmpty(@doctor.Weekend))
            {
                <p class="text-secondary">@doctor.Weekend</p>
            }
        </div>
    </div>
}
</div>