@model List<MoreHealth.ViewModels.DoctorViewModel>

@foreach (var doctor in @Model)
{
    <div class="row bg-secondary shadow p-3 mb-5 bg-white rounded m-2 d-flex justify-content-center">
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h2">@doctor.FullName</div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Кабинет:</div>
            <p class="text-secondary">@doctor.Cabinet.CabinetNumber</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Департамент:</div>
            <p class="text-secondary">@doctor.Specialization.Department.DepartmentName</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Кабинет:</div>
            <p class="text-secondary">@doctor.Specialization.SpecializationName</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Время работы в чётные дни:</div>
            <p class="text-secondary">@doctor.StartWorkTimeEvenDay.ToString("t") - @doctor.EndWorkTimeEvenDay.ToString("t")</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Время работы в нечётные дни:</div>
            <p class="text-secondary">@doctor.StartWorkTimeOddDay.ToString("t") - @doctor.EndWorkTimeOddDay.ToString("t")</p>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h5">Время работы в выходные дни:</div>
            <p class="text-secondary">@doctor.Weekend</p>
        </div>
    </div>
}