<nav>
    <div class="nav nav-tabs mb-5 d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link"  asp-action="AdminAppointmentHome" aria-controls="nav-profile" aria-selected="false">Вызов на дом</a>
        <a class="nav-item nav-link"  asp-action="AdminDepartment" aria-controls="nav-contact" aria-selected="false">Департамент</a>
        <a class="nav-item nav-link"  asp-action="AdminCabinet" aria-controls="nav-contact" aria-selected="false">Кабинет</a>
        <a class="nav-item nav-link"  asp-action="AdminDoctor" aria-controls="nav-contact" aria-selected="false">Доктор</a>
        <a class="nav-item nav-link"  asp-action="AdminFeedback" aria-controls="nav-contact" aria-selected="false">Отзывы</a>
        <a class="nav-item nav-link"  asp-action="AdminPaidService" aria-controls="nav-contact" aria-selected="false">Платные услуги</a>
        <a class="nav-item nav-link active"  asp-action="AdminSpecialization" aria-controls="nav-contact" aria-selected="false">Специальности</a>
    </div>
</nav>
<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllSpecializations", "Admin")",
                        update: {
                            url: "@Url.Action("UpdateSpecialization","Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        create:{
                            url: "@Url.Action("CreateSpecialization","Admin")",
                            dataType: "json",
                            type: "POST"  
                        },
                        destroy: {
                            url: "@Url.Action("RemoveSpecialization","Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, from: "id", type: "number" },
                                Department: { from: "department", validation: {required: true} }, 
                                DepartmentId: {from: "departmentId", validation: {required: true} },
                                SpecializationName: { from: "specializationName", type: "string", validation: {required: true }},
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                height: 550,
                editable: "popup",
                // filterable: true,
                // sortable: true,
                pageable: true,
                toolbar: [
                    {name: "create"}
                ],
                columns: [
                    {
                        field:"Id",
                        filterable: false
                    },
                    {
                        field: "SpecializationName",
                        title: "Название специальности"
                    }, 
                    {
                        field: "Department.departmentName",
                        title: "Департамент",
                        editor: departmentEditor
                    }, 
                    {
                        command: "edit", 
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
        });
        
        function departmentEditor(container, options) {
            $('<input required name="DepartmentId">')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "departmentName",
                    dataValueField: "id",
                    height: 500,
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("GetAllDepartments", "Admin")",
                                dataType: "json",
                                cache: false
                            }
                        }
                    }
                });
        }
    </script>
</div>
