<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-talon" role="tab" aria-controls="nav-home" aria-selected="true">Талон</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-talon" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="col-lg-12 d-flex justify-content-center mt-3">
                <input id="doctor" style="width: 40%;"/>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-3">
                <input id="patient" style="width: 40%;"/>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-3">
                <input id="datepicker" value="11/12/2021" title="datepicker" style="width: 40%"/>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-3">
                <input id="talons" style="width: 40%;"/>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-3">
                <input id="address" style="width: 40%;"/>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-3">
                <button id="textButton">Заказать</button>
            </div>
        </div>
    </div>
</div>

<style>
    .k-floating-label-container {
        width: 100%;
    }
</style>

<script>
    $("#doctor").kendoDropDownList({
        dataTextField: "fullName",
        dataValueField: "id",
        optionLabel: "Выберите врача...",
        height: 500,
        change: onChange,
        dataSource: {
            transport: {
                read: {
                    url: "@Url.Action("GetAllDoctors", "FeedBack")",
                    dataType: "json",
                    cache: false
                }
            }
        }
    });
    
    $("#patient").kendoDropDownList({
            dataTextField: "fullName",
            dataValueField: "user.id",
            filter: "startswith",
            optionLabel: "Выберите пациента...",
            height: 500,
            change: onChange2,
            enable: false,
            dataSource: {
                serverFiltering: false,
                transport: {
                    read: {
                        url: "@Url.Action("GetAllPatients", "Appointment")",
                        dataType: "json",
                        cache: false
                    }
                }
            }
        });

    $("#datepicker").kendoDatePicker({
        value: new Date("@DateTime.Now.ToString("yyyy-M-d")"),
        change: onChange2
    })

    $("#talons").kendoDropDownList({
            dataTextField: "getDate",
            dataValueField: "id",
            optionLabel: "Выберите талон",
            height: 500,
            autoBind: false,
            enable: false,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetTalonsByDoctorDate", "Appointment")",
                        data: function () {
                            var datapicker = $("#datepicker").data("kendoDatePicker").value();
                            return {
                                doctor: $("#doctor").data("kendoDropDownList").value(),
                                talon1: kendo.toString(datapicker, "dd/MM/yyyy")
                            };
                        }
                    }

                }
            }
    });

    function onChange() {
        $("#patient").data("kendoDropDownList").dataSource.read();
        $("#patient").data("kendoDropDownList").enable(true);
    }
    
    function onChange2() {
            $("#talons").data("kendoDropDownList").dataSource.read();
            $("#talons").data("kendoDropDownList").enable(true);
        }

    $("#address").kendoTextBox({
        placeholder: "Адрес (необязательно)"
    });

    $("#address2").kendoTextBox({
        placeholder: "Адрес"
    });

    $("#callingdoctorathome").kendoButton({
        click: submitCalling
    });

    $("#textButton").kendoButton({
        click: onClick
    });

    function submitCalling() {
        const address = $("#address2").data("kendoTextBox").value()
        console.log(address);
        var userId = "@User.Claims.ElementAt(0).Value";
        $.ajax({
            url: `/Appointment/CallingDoctorHome/?address=${address}&userid=${userId}`,
            type: 'post',
            success: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    }

    function onClick() {
        const talonId = $("#talons").data("kendoDropDownList").value()
        const address = $("#address").data("kendoTextBox").value()
        var userId = $("#patient").data("kendoDropDownList").value();
        $.ajax({
            url: `/Appointment/AddPatientTalon/?talon=${talonId}&address=${address}&userid=${userId}`,
            type: 'post',
            success: function (response) {
                var redirectUrl = "@Url.Action("PatientAppointment", "Appointment")" + `/?id=${talonId}`
                                   window.location.replace(redirectUrl);
            },
            error: function (response) {
                alert(response);
            }
        });
    }
</script>
