@model List<Appointment>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Номер талона</th>
                    <th scope="col">ФИО Доктора</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">Дата приёма</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var appointment in @Model)
                {
                    <tr>
                        <th scope="row">@appointment.Id</th>
                        <td>@appointment.Doctor.Surname @appointment.Doctor.Name @appointment.Doctor.LastName</td>
                        @if (appointment.Doctor.Cabinet != null)
                        {
                            <td>@appointment.Doctor.Cabinet.CabinetNumber</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (@appointment.DateStart >= DateTime.Now)
                        {
                            <td class="text-success">@appointment.DateStart</td>
                        }
                        else
                        {
                            <td class="text-secondary">@appointment.DateStart</td>
                        }
                        <td>
                             @if (appointment.DateStart > DateTime.Now)
                                {
                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Appointment" asp-route-appointmentId="@appointment.Id" asp-action="CancelAppointment">Отменить</a>
                                }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>